.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: 
    rgb(64, 167, 119);

}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 200px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}
 
h1 {
  margin: 35px 0;
  color: #fff;
  font-size: 40px;
  font-weight: 750;
}

/* to check items off list click text */
.complete {
  text-decoration: line-through;
  opacity: 0.3;
}

.todo-form {
  margin-bottom: 35px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #188f71;
  outline: none;
  width: 300px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: rgb(236, 236, 236);
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: 
    rgb(139, 93, 231);
  color: #fff;
  text-transform: capitalize;
}


.todo-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px auto;
  color: rgb(243, 243, 243);
  padding: 15px;
  border-radius: 9px;
  width: 40%;
  cursor: pointer;
}

.todo-row{
  background: 
  rgb(139, 93, 231);
}


.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}